<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/stomp.umd.min.js"></script>
    <script src="/js/websocketSGamesStomp.js"></script>
    <script src="/js/quizRendering.js"></script>
</head>
<body>
<div id="form-box" class="form-box">
    입장코드 입력
    <input id="roomIdx" type="text" class="input-code" placeholder="입장코드 입력">
    <button onclick="codeEnter()" type="button" class="btn-type-dark"><span class="btn-txt">확인</span></button>
</div>
</body>
</html>